<!DOCTYPE html>
<html lang="en">
    <%- include("partials/Head"); %>
<body>
    <div id="container">
        <%- include("partials/headers"); %> 
        <%- include("partials/list"); %>
    </div>
</body>
</html>