<header>
    <nav>
        <figure>
            <img src="" alt="logo" srcset="">
            <figcaption>Brand Logo</figcaption>
        </figure>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="form_control">
            <form action="">
                <input type="search" name="" placeholder="look up any article of choice" id="">
            </form>
        </div>
    </nav>
</header>