<header>
    <nav>
        <figure>
            <img src="" alt="logo" srcset="">
            <figcaption>Brand Logo</figcaption>
        </figure>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="form_control">
            <form action="/search" method="GET">
                <input type="search" name="email" placeholder="look up any article of choice" id="">
                <button type="submit"><i class="fas fa-search fa-2x"></i></button>
            </form>
        </div>
        <div id="logs">
            <button id="log"><a href="/loginroute">login</a></button>
        </div>
    </nav>
</header>